name: Angular CI to AWS S3

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test -- --watch=false --browsers=ChromeHeadless

      - name: Build Angular App (SPA)
        run: ng build --configuration production --no-prerender

      # -------------------------------------
      #         DEPLOY SECTION
      # -------------------------------------

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3 Bucket
        run: |
          aws s3 sync dist/ s3://${{ secrets.S3_BUCKET }} --delete
